*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    color: #232222;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
}

.container {
    max-width: 1230px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.logo {
    margin-left: 16px;
}

.phone {
    margin-top: 11px;
    margin-right: 43px;
}

.menu {
    margin-top: 15px;
}

.menu__btn {
    display: none;
    width: 40px;
    border: none;
    background-color: transparent;
    padding: 15px 0;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.menu__btn span{
    display: block;
    height: 4px;
    background-color: #001E64;
}

.menu__btn::after,
.menu__btn::before{
    content: '';
    position: absolute;
    height: 4px;
    right: 0;
    background-color: #001E64;
    width: 100%;
}

.menu__btn::before {
    top: 0;
}

.menu__btn::after{
    bottom: 0;
}


.menu__list {
    display: flex;
}

.menu__item+.menu__item {
    margin-left: 30px;
}

.menu__link {
    text-transform: uppercase;
    color: #001E64;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    transition: all .5s;
    border-bottom: 1px solid transparent;
}

.menu__link:hover {
    border-bottom: 1px solid #001E64;
}

.header__content {
    background-image: url('../images/header-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding-bottom: 20px;
    margin-top: -100px;
}

.title {
    font-family: 'Roboto Slab', serif;
    font-size: 72px;
    line-height: 95px;
    font-weight: 700;
    color: #001E64;
    max-width: 589px;
    padding-top: 170px;
    padding-left: 112px;
    margin-bottom: 60px;
}

.header-slider {
    max-width: 522px;
    padding: 57px 0 135px 112px;
}

.header-slider__text {
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}

.header-slider .slick-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
}

.header-slider .slick-dots {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}

.header-slider .slick-dots button {
    background-color: transparent;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    opacity: .5;
    margin: 20px 0;
    padding: 0;
    cursor: pointer;
}

.header-slider .slick-dots button::before {
    content: '0';
}

.header-slider .slick-dots li:nth-child(n+10) button::before {
    content: '';
}

.header-slider .slick-dots .slick-active button {
    opacity: 1;
}

.header-slider .slick-arrow {
    position: absolute;
    left: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header-slider .slick-prev {
    top: 0;
}

.header-slider .slick-next {
    bottom: 0;
}

.header__content-btn {
    display: inline-block;
    position: absolute;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: #fff;
    font-size: 23px;
    line-height: 32px;
    padding: 14px 88px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, .5);
    margin-left: 112px;
    transform: translateY(-100px);
    transition: all .5s;
}

.header__content-btn:hover {
    background: #fff;
    color: #001E64;
}

.header__content-box {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    font-size: 18px;
    color: #fff;
}

.header__content-link--active {
    font-weight: 700;
}

.product {
    padding-top: 100px;
}

.product__inner {
    display: flex;
    justify-content: space-between;
}

.product__name {
    width: 510px;
    text-align: center;
    padding-top: 41px;
}

.product__name-item {
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    cursor: pointer;
    transition: all .5s;
}

.product__name-item+.product__name-item {
    margin-top: 30px;
}

.product__name-item.slick-current {
    font-size: 36px;
    font-weight: 700;
    color: #001E64;
}

.product-prev {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.product-arrow {
    background-color: transparent;
    border: none;
    padding: 0;
}

.product__content {
    max-width: 600px;
}

.product__content-box {
    display: flex;
    justify-content: space-between;
}

.product__content-img {
    object-fit: cover;
}

.product__content-list {
    width: 291px;
}

.product__content-item {
    margin-bottom: 30px;
}

.product__content-item span {
    display: block;
    margin-bottom: 10px;
    color: #001E64;
}

.product__content-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #001E64;
    margin-bottom: 20px;
    padding-top: 20px;
}

.product__content-text {
    margin-bottom: 25px;
}

.product__content-btn {
    display: inline-block;
    transition: all .5s;
    color: #001E64;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    padding: 12px 85px;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 20px;
    border: 1px solid #001E64;
    cursor: pointer;
}

.product__content-btn:hover {
    background-color: #001E64;
    color: #fff;
}

.seafood-box {
    background-image: url('../images/seafood-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 290px 0 98px;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}

.seafood-box__items {
    display: flex;
    justify-content: space-around;
}

.seafood-box__item {
    width: 180px;
    min-height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../images/seafood-decor.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.seafood {
    padding: 100px 0;
}

.seafood__items {
    margin-bottom: 100px;
}

.seafood__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.seafood__item-title {
    font-family: 'Roboto Slab', serif;
    max-width: 490px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 24px;
    color: #001E64;
    line-height: 29px;
}

.seafood__item--right .seafood__item-title {
    max-width: 420px;
}

.seafood__item--right .seafood__item-content {
    margin-right: 180px;
}

.seafood__item-text {
    max-width: 420px;
    margin-bottom: 20px;
}

.seafood__blockquote {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.seafood__blockquote-text {
    font-family: 'Roboto Slab', serif;
    max-width: 505px;
    font-size: 18px;
    margin: 0 auto;
}

.contacts {
    background-image: url('../images/contacts-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

.contacts__box {
    margin-left: auto;
    width: 390px;
    background-color: #fff;
    padding: 33px 0 33px 20px;
}

.contacts__box-text {
    font-family: 'Roboto Slab', serif;
    width: 195px;
    font-size: 18px;
    line-height: 24px;
    color: #001E64;
    margin-bottom: 30px;
}

.contacts__box-list {
    font-size: 18px;
    line-height: 21px;
}

.contacts__box-item {
    margin-bottom: 30px;

}

.contacts__box-item span{
    display: block;
}

.footer {
    padding: 25px 0 110px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 45px 0 23px;
}

.footer__inner .menu{
    padding-bottom: 30px;
    color: #232222;
}

.footer__inner .logo{
    margin-left: 0;
}

.footer-social__list {
    display: flex;
    align-items: center;
    padding-bottom: 19px;
}

.footer-social__item + .footer-social__item {
    margin-left: 10px;
}

.footer-social__link path{
    transition: all .5s;
}

.footer-social__link:hover path{
    fill: #001E64;
}

@media (max-width: 1160px) {
    .product__name {
        width: 350px;
    }
    .footer .logo,
    .footer .menu {
        display: none;
    }
    .footer {
        padding: 40px 0 110px;
    }
    .footer__inner {
        justify-content: center;
    }
    .footer-social__list {
        padding-bottom: 0;
    }
}

@media (max-width: 1100px) {
    .seafood__item-content {
        padding-right: 20px;
    }
    .seafood__item--right .seafood__item-content{
        padding-right: 0;
        padding-left: 20px;
    }
}


@media (max-width: 1000px) {
    .menu__list {
        position: absolute;
        left: 20%;
        right: 20%;
        background-color: #fff;
        display: block;
        text-align: center;
        top: -350px;
        transition: all .5s;
        border-radius: 20px;
        z-index: 2;
    }

    .menu__list.menu__list--active {
        top: 75px;
    }

    .menu__item + .menu__item {
        margin-left: 0;
    }

    .menu__link {
        display: block;
        padding: 20px 0;
    }
    .menu__link:hover {
        border-bottom: 1px solid transparent;
    }

    .menu {
        margin: 12px 20px 0 auto;
    }

    .menu__btn {
        display: inline-block;
    }
    .product__name {
        width: 250px;
    }
    .footer {
        padding-bottom: 80px;
    }
}

@media (max-width: 950px) {
    .seafood img {
        max-width: 100%;
    }
    .seafood__item {
        flex-wrap: wrap;
        justify-content: center;
    }
    .seafood__item--right {
        flex-wrap: wrap-reverse;
    }
    .seafood__item-content {
        padding-right: 0;
    }
    .seafood__item--right .seafood__item-content{
        padding-left: 0;
    }
    .seafood__item-text,
    .seafood__item-title {
        max-width: 100%;
    }
    .seafood__item--right .seafood__item-content {
        margin-right: 0;
    }
}

@media (max-width: 890px) {
    .product__inner {
        display: block;
    }
    .product__content {
        margin: 0 auto;
    }
    .product__name {
        width: 100%;
        padding-top: 0;
        margin-bottom: 80px;
    }
    .product__name-item + 
    .product__name-item {
        margin-top: 0;
    }
    .product__name-item.slick-current {
        line-height: 44px;
    }
    .product__name .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }
    .product__name .slick-dots li{
        margin:  0 5px;
    }

    .product__name .slick-dots button{
        width: 12px;
        height: 12px;
        background-color: #fff;
        font-size: 0;
        padding: 0;
        border-radius: 50%;
        border: 1px solid #001E64;
        outline: none;
    }
    .product__name .slick-dots .slick-active button {
        background-color: #001E64;
    }
}


@media (max-width: 745px) {
    .title {
        font-size: 50px;
        line-height: 66px;
        max-width: 100%;
        padding-left: 0;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .seafood {
        padding: 50px 0;
    }
    .product__content {
        width: 100%;
    }

    .seafood-box {
        display: none;
    }
    .seafood__items {
        margin-bottom: 50px;
    }
    .footer {
        padding-bottom: 50px;
    }
}

@media (max-width: 600px) {
    .product__content-box {
        display: block;
    }
    .product__content-list {
        width: 100%;
    }
}


@media (max-width: 470px) {
    .header-slider {
        padding-left: 50px;
    }
    .header__content-btn {
        margin-left: 50px;
    }
    .title {
        font-size: 34px;
        line-height: 44px;
    }
    .product__content-btn {
        padding: 12px 55px;
    }
    .product {
        padding-top: 50px;
    }
    .contacts {
        background-image: none;
    }
    .contacts__box {
        margin-left: auto;
        width: 100%;
        background-color: #fff;
        padding: 33px 0;
    }
}

@media (max-width: 370px) {
    .title {
        padding-top: 125px;
    }
    .phone {
        margin-right: 0;
    }
    .logo {
        margin-left: 0;
    }
    .menu__list {
        right: 10%;
        left: 10%;
    }
    .header-slider {
        padding-left: 0;
        padding-top: 0;
    }
    .header__content-btn {
        margin-left: 0;
    }
}